/* Universal tag */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Body Background color */
body {
    background-color: #d9dcd6;
}
/* Background color and padding for navigation bar. Font type and text color for Horiseon logo */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Font size for Horiseon logo and blocks the navigation links from moving to another line */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Text color of the seo portion of the logo */
.header h1 .seo {
    color: #d9dcd6;
}
/* Controls gap/margin and font size for h2 elements */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Controls alignment and margin of h3 elements */
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* font size, positioning and additional padding on links in navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Controls Space/gaps between links in navigation bar */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/* Font color and underline remover for a elements */
a {
    color: #ffffff;
    text-decoration: none;
}
/* font size for any p elements */
p {
    font-size: 16px;
}
/* Height, Width, margin and image link for the top section of the page */
.top-section {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Float left/ float right changes the placement of the pictures and the margin surrounding them */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/* Changes the percentadge that the blue section has on the screen as well as margin between the different sections */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Controls structure, shape, color and font of the benefits section on the right side of the screen */
.benefits {
    margin-right: 20px;
    padding: 50px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Changes font color of benefit section and bottom padding */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Changes made to margin, width and structure of the images in the benefit section */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Controls structure, shape, color and font of the blue section on the left side of the screen */
.Blue-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* caps image height for images in blue section */
.Blue-section img {
    max-height: 200px;
}
/* Controls padding, font type and alignment of the footer contents */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Changes font size of the h4 element in the footer section */
.footer h4 {
    font-size: 20px;
}